@model IEnumerable<Library.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<script src="~/Scripts/echarts.common.min.js"></script>
<div id="main" style="width: 600px;height:400px;"></div>

<p>
    <a href="/Categories/Create" class="btn btn-default">添加目录</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a href="/Categories/Edit/@item.Id" class="btn btn-default">编辑</a> 
            <a href="/Categories/Details/@item.Id" class="btn btn-default">详细内容</a>
            <a href="/Categories/Delete/@item.Id" class="btn btn-default">删除</a>
        </td>
    </tr>
}

</table>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        myChart.setOption({
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data: []
            },
            series: [
                {
                    name: '图书数量',
                    type: 'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data: [
                    ]
                }
            ]
        });

    // 异步加载数据
        var data;
        $.get('/api/categories').done(function (data) {
            myChart.hideLoading();
            myChart.setOption({
                legend: {
                    data: data.map((d) => { return d.Name })
                },
                series: [{
                    // 根据名字对应到相应的系列
                    data: data.map((d) => {
                        return {
                            "value": d.Count,
                            "name":d.Name
                        }
                    })
                }]
            });
        });
</script>
